*{
    margin: 0;
    padding: 0;
}
.music{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.header{
    height: 76px;
    background:#161616;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
}
.body{
    flex: 1;
}
.footer{
  height: 72px; 
}
.back,
.more{
    width: 40px;
    height: 40px;
    background: #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
}
.singer{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
.icon-gengduo{
    font-size: 22px;
}